<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <mat-toolbar-row>
    <mat-nav-list>
      <button mat-button routerLink="/file" routerLinkActive="active">
        <mat-icon>folder</mat-icon>
        <span class="label">File</span>
      </button>
      <button mat-button routerLink="/karabo-data" routerLinkActive="active">
        <mat-icon>cloud_download</mat-icon>
        <span class="label">KaraboData</span>
      </button>
      <button mat-button routerLink="karabo-bridge" routerLinkActive="active">
        <mat-icon>cast</mat-icon>
        <span class="label">KaraboBridge</span>
      </button>
    </mat-nav-list>
    <div class="stretch"></div>
    ImagDi
  </mat-toolbar-row>
</mat-toolbar>
